@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root{
    --gray-900: #141414;
    --gray-700: #333333;
    --gray-800: #1F1F1F;
    --green: #C4F82A;
    --white: #FFFFFF;

    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;

}

/* Typography */

.text-preset-inter-regular {
    font-size: 14px;
    line-height: 150%;
    font-weight: normal;
    letter-spacing: 0px;
}
.text-preset-inter-semi-bold {
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    letter-spacing: 0px;
}
.text-preset-inter-bold {
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
    letter-spacing: 0px;
}

/* Global Styles */
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--gray-900);
    color: var(--white);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: var(--spacing-500);

}


.location {
    color: var(--green);
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    padding: var(--spacing-300) var(--spacing-500);
    background-color: var(--gray-800);
    border-radius: var(--spacing-100);
    max-width: 384px;
    width: calc(100vw - 48px);
}
.card__image img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    border-radius: 50%;
}

/* Social Links */
.social-links ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: var(--spacing-150);
}

.social-links li {
    list-style: none;
    background-color: var(--gray-700);
    border-radius: var(--spacing-100);
}
.social-links a {
    display: block;
    padding: var(--spacing-150);
    text-align: center;
    color: var(--white);
    transition: background-color 0.5s, color 0.5s;
    text-decoration: none;
    border-radius: var(--spacing-100);
   
}
.social-links a:hover, .social-links a:focus-visible {
    background-color: var(--green);
    color: var(--gray-900);
    outline: none;
}

article  h1, article p {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}