@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root{
    --gray-900: #141414;
    --gray-700: #333333;
    --gray-800: #1F1F1F;
    --green: #C4F82A;
    --white: #FFFFFF;

    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;

}

/* Typography */

.text-preset-inter-regular {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: normal;
    letter-spacing: 0px;
}
.text-preset-inter-semi-bold {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 600;
    letter-spacing: 0px;
}
.text-preset-inter-bold {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: bold;
    letter-spacing: 0px;
}

/* Global Styles */
* {
    box-sizing: border-box;
    color: var(--white);
    margin: 0;
}
body {
    background-color: var(--gray-900);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: var(--spacing-500);

}


.location {
    color: var(--green);
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    padding: var(--spacing-300);
    width: 384px;
    margin: 0 auto;
    background-color: var(--gray-800);
    border-radius: 10px;
}
.card__image img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    border-radius: 50%;
}

/* Social Links */
.social-links ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    gap: var(--spacing-150);
}

.social-links li {
    list-style: none;
    width: 100%;
    background-color: var(--gray-700);
    border-radius: 8px;
}
.social-links a {
    display: block;
    width: 100%;
    padding: var(--spacing-150);
    text-align: center;
    color: var(--white);
    text-decoration: none;
}